  {% load staticfiles %}
{% extends 'layout/base.html' %}
{% block titulo %} {{redesSociales.nombre}} {% endblock%}
{% block content %}

<section class="ftco-section ftco-no-pt ftco-no-pb">
	    	<div class="container">
	    		<div class="row d-flex">
	    			<div class="col-xl-8 py-5 px-md-5">
                       <h2>error 404!!!</h2>
                       <p>ruta equivocada</p>
			    	</div>
	    		</div>
	    	</div>
	    </section>

{% endblock content %} 