{% extends 'layout/base.html' %}
{% load staticfiles %}
{% block titulo %} {{redesSociales.nombre}} {% endblock%}
{% block content %}

<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
	    	<div class="container-fluid px-0">
	    		<div class="row d-flex">
	    			<div class="col-md-6 d-flex">
	    				<div class="img d-flex align-self-stretch align-items-center js-fullheight" style="background-image:url('{{autor.image_referencia.url}}');">
	    				</div>
	    			</div>
	    			<div class="col-md-6 d-flex align-items-center">
	    				<div class="text px-4 pt-5 pt-md-0 px-md-4 pr-md-5 ftco-animate">
		            <h2 class="mb-4"> Yo soy <span>{{autor.nombre}}</span> un Desarrollador de aplicaciones WEB &amp; MOVIL</h2>
		            <p>{{autor.descripcion}}</p>
	            </div>
		        </div>
	        </div>
	    	</div>
	    </section>

{% endblock content %} 
{% block nombre %} {{redesSociales.nombre}} {% endblock%}