{% extends 'layout/base.html' %}{% load staticfiles %}
{% block titulo %} {{redesSociales.nombre}} {% endblock%}
{% block content %}

	<section class="ftco-section contact-section px-md-4">
	      <div class="container">
	        <div class="row d-flex mb-5 contact-info">
	          <div class="col-md-12 mb-4">
	            <h2 class="h3">Contact Information</h2>
	          </div>
	          <div class="w-100"></div>
						{% if redesSociales.facebook %}
	          <div class="col-lg-6 col-xl-3 d-flex mb-4">
	          	<div class="info bg-light p-4">
		            <a href="{{redesSociales.facebook}}"><span class="icon-facebook-square" style="color:#3B5998; font-size: 2.5em;"></span></a>
								<span>Facebook</span>
		          </div>
	          </div>
						{% endif %}
						{% if redesSociales.youtube %}
	          <div class="col-lg-6 col-xl-3 d-flex mb-4">
	          	<div class="info bg-light p-4">
		            <a href="{{redesSociales.youtube}}"><span class="icon-youtube" style="color:red; font-size: 2.5em;"></span></a>
								<span>youtube</span>
		          </div>
	          </div>
						{% endif %}
						{% if redesSociales.twitter %}
	          <div class="col-lg-6 col-xl-3 d-flex mb-4">
	          	<div class="info bg-light p-4">  							
              <a href="{{redesSociales.twitter}}"><span class="icon-twitter-square" style="color:#38A1F3;font-size: 2.5em;"></span></a>              
							<span>Twitter</span>
		          </div>
	          </div>
						{%endif%}
						{% if redesSociales.gitlab %}
	          <div class="col-lg-6 col-xl-3 d-flex mb-4">
	          	<div class="info bg-light p-4">
		            <a href="{{redesSociales.gitlab}}"><span class="icon-gitlab" style="color:black;font-size: 2.5em;"></span></a>
								<span>Gitlab</span>
		          </div>
	          </div>
						{%endif %}
						{% if redesSociales.url %}
	          <div class="col-lg-6 col-xl-3 d-flex mb-4">
	          	<div class="info bg-light p-4">
		            <p><span>Website</span> <a href="{{redesSociales.url}}">{{redesSociales.url}}</a></p>
		          </div>
	          </div>
						{% endif %}
	        </div>
	        <div class="row block-9">
	          <div class="col-lg-6 d-flex">
	            <form action="#" class="bg-light p-5 contact-form" method="post"> 
							<h2>Contact email:</h2>
							  {% csrf_token %}
	              <div class="form-group">
	                {{form.nombre}}
	              </div>
	              <div class="form-group">
	                {{form.apellido}}
	              </div>
	              <div class="form-group">
	                {{form.correo}}
	              </div>
	              <div class="form-group">
	                {{form.asunto}}
	              </div>
	              <div class="form-group">
	                {{form.mensage}}
	              </div>
								<div class="form-group">
	                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
	              </div>
	            </form>
	          
	          </div>

	          <div class="col-lg-6 d-flex">
	          	<div id="map" class="bg-light"></div>
	          </div>
	        </div>
	      </div>
	    </section>


{% endblock content %} 
{% block nombre %} {{redesSociales.nombre}} {% endblock%}