{% extends 'layout/base.html' %}{% load staticfiles %}
{% block titulo %} {{redesSociales.nombre}} {% endblock%}
{% block content %}
<section class="ftco-section ftco-no-pt ftco-no-pb">
	    	<div class="container">
	    		<div class="row d-flex">
	    			<div class="col-lg-8 px-md-5 py-5">
	    				<div class="row pt-md-4">
	    					<h1 class="mb-3">{{post.titulo}} </h1>
			    		</div>
							<div class="row pt-md-4">
	    					<p>{{post.descripcion}}</p>
			    		</div>
							<div class="row pt-md-4">
	    					<img src="{{post.image_referencia.url}}" alt="" class="img-fluid">
			    		</div>
							<div class="row pt-md-4">
							<div class="col-lg-12">
							{{post.contenido|safe}}
							</div>

             <div class="row">
						  <div class="tag-widget post-tag-container mb-5 mt-5">
		              <div class="tagcloud">
		                <a href="#" class="tag-cloud-link">{{post.categoria.nombre}}</a>
		              </div>
		            </div>
		            </div>


               <div class="col-lg-12">
								  <div class="about-author d-flex p-4 bg-light">
		              <div class="bio mr-5">
		                <img src="{{post.autor.image_referencia.url}}" alt="Image placeholder" class="img-fluid mb-4" style="height:130px; min-width:130px;">
		              </div>
		              <div class="desc">
		                <h3>{{post.autor.nombre}} {{post.autor.apellido}}</h3>
		                <p>{{post.autor.descripcion}}</p>
		              </div>
		            </div>
		            </div>

							<div class="col-lg-12">
								  <!--comentarios-->
		               <div id="disqus_thread" class="comment-list"></div>
		            </div>
							</div>
			    	</div>
						{% include 'layout/footer.html' with categorias=categorias postsRandom=postsRandom postsByDate=postsByDate %}
	    		</div>
	    	</div>
	    </section>


{% endblock content %} 
{% block nombre %} {{redesSociales.nombre}} {% endblock%}
		            


		            


		            