<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <style>
        body{
            margin:0;
            padding:0;
            background: #333;
        }
        body h1{
            background: #111;
            text-align:center;
            font-size:3em;
            height:70px;
            color:white;            
            margin-top:0;
            padding:10px 0px;
        }
        .container{
            width:1200px;
            margin:20px auto;
            columns: 4;
            column-gap: 40px;
        }
        .container .box{
            width:100%;
            margin: 0 0 30px;
            background:white;
            padding:10px;
            overflow:hidden;
            break-inside:avoid;
        }
        .container .box img{
            width:100%;   
        }
        .container .box h2{
            margin:10px 0 0;
            padding:0;
            font-size:20px;
        }
        .container .box p{
            margin: 0 0 10px;
            font-size:16px;
        }
        .container .box button{
            border:none;
            font-size:16px;
            width:100%;
            color:white;
            background:#008CBA;
            padding:10px 20px;
            cursor:pointer;
            transition:0.3s;
        }
        .container .box button:hover{
            color:#008CBA;
            background:white;
            padding:10px 20px;
            cursor:pointer;
        }
        

        @media(max-width:1200px){
            .container{
                columns:3;
                width:calc(100% - 40px);
                box-sizing:border-box;
                padding:20px 20px 20px 0;
            }
        }
        @media(max-width:760px){
            .container{
                columns:2;
            }
        }
        @media(max-width:480px){
            .container{
                columns:1;
            }
        }
    </style>
    <script>
        function myCopy(utext){
            console.log(utext)
            var el=document.createElement('textarea');
            el.value=utext;
            el.setAttribute('readonly','')
            document.body.appendChild(el);
            el.select();
            el.setSelectionRange(0,99999);
            document.execCommand('copy');
            document.body.removeChild(el);
        }
    </script>
</head>

<body>
    <h1>Imagenes</h1>   
     <div class="container">
        {% for item in object_list %}
         <div class="box">
                <img src="{{item.avatar.url}}" alt="">
                <h2>{{item.nombre}}</h2>
                <button type="button" onclick="myCopy('{{item.avatar.url}}');"> copy url </button>
         </div>                     
        {% endfor %}         
     </div>    
     
</body>

</html>