<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <style>
        body{
            margin:0;
            padding:0;
            background: tomato;
        }
        .container{
            width: 100%;
            display: grid;
            grid-auto-flow: dense;
            grid-template: "1fr 1fr 1fr 1fr 1fr" 33.33vh
                           "1fr 1fr 1fr 1fr 1fr" 33.33vh
                           "1fr 1fr 1fr 1fr 1fr" 33.33vh;
        }
        .container .box{
            grid-row: span 1;
        }
        .container .box .cloud-image{
            position:absolute;
            top:0;
            left:0;
        }


        @media (max-width:991px){
            .container{
                grid-template: "1fr 1fr 1fr 1fr" 200px
                               "1fr 1fr 1fr 1fr" 200px
                               "1fr 1fr 1fr 1fr" 200px
                               "1fr 1fr 1fr 1fr" 200px;
                        }
        }
        @media (max-width:750px){
            .container{
                grid-template: "1fr 1fr " 250px
                               "1fr 1fr " 250px
                               "1fr 1fr " 250px
                               "1fr 1fr " 250px
                               "1fr 1fr " 250px
                               "1fr 1fr " 250px;
                        }
        }
        @media (max-width:500px){
            .container{
                grid-template: "1fr" 300px
                               "1fr" 300px
                               "1fr" 300px
                               "1fr" 300px
                               "1fr" 300px
                               "1fr" 300px
                               "1fr" 300px
                               "1fr" 300px
                               "1fr" 300px
                               "1fr" 300px;
                        }
        }
        
    </style>
</head>

<body>
    <h1>avatares</h1>
    <!--{% for item in object_list %}
            <p>{{item.nombre}}-1</p>
            <img src="{{item.avatar.url}}" alt="">
        {% endfor %}-->


    <!--{% load cloudinary %}
    {% for item in object_list %}
    <h2>{{item.nombre}}</h2>
    {% cloudinary item.avatar.public_id className="my-class" height=150 width=250 %}
     {% endfor %}
     -->
     <div class="container">
            {% for item in object_list %}
         <div class="box">
             
                <h2>{{item.nombre}}</h2>
                <p>{{item.avatar.url}}</p>
            
                {% cloudinary item.avatar.public_id className="cloud-image" height=150 width=250 %}                
         </div>
                     
         {% endfor %}
         
     </div>
     
     
</body>

</html>