{% extends 'layout/base.html' %}
{% block titulo %} {{redesSociales.nombre}} {% endblock%}
{% block content %}

<section class="ftco-section ftco-no-pt ftco-no-pb">
	    	<div class="container">
	    		<div class="row d-flex">
	    			<div class="col-xl-8 py-5 px-md-5">
	    				<div class="row pt-md-4">
			    			{% include 'layout/listar_post.html' with posts=posts %}
						
			    		</div><!-- END-->
							{% include 'layout/paginator.html' with posts=posts %}
			    		
			    	</div>
	    			{% include 'layout/footer.html' with categorias=categorias postsRandom=postsRandom postsByDate=postsByDate%}
	    		</div>
	    	</div>
	    </section>

{% endblock content %} 
{% block nombre %} {{redesSociales.nombre}} {% endblock%}