  {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block titulo %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">	

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">

    
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="js-fullheight">
			
      {% include './navbar.html' %}

			<div class="colorlib-footer">
				<h1 id="colorlib-logo" class="mb-4"><a href="{% url 'home' %}" style="background-image: url(/static/images/bg_1.jpg);">{% block nombre %}{% endblock %}<span></span></a></h1>
        <div>
            <div>
              {% if redesSociales.facebook %}<a href="{{redesSociales.facebook}}"><span class="icon-facebook-square" style="color:#3B5998; font-size: 2.5em;"></span></a>{%endif%}
              {% if redesSociales.twitter %}<a href="{{redesSociales.twitter}}"><span class="icon-twitter-square" style="color:#38A1F3;font-size: 2.5em;"></span></a>{%endif%}
              {% if redesSociales.gitlab %}<a href="{{redesSociales.gitlab}}"><span class="icon-gitlab" style="color:black;font-size: 2.5em;"></span></a>{%endif%}
              {% if redesSociales.youtube %}<a href="{{redesSociales.youtube}}"><span class="icon-youtube" style="color:red;font-size: 2.5em;"></span></a>{%endif%}
            </div>
            
        </div>
        <div class="mb-4">
					<h3>Subscribe for newsletter</h3>
					<form method="POST" action="{% url 'suscribe' %}" class="colorlib-subscribe-form">
            {% csrf_token %}
            <div class="form-group d-flex">
            	<div class="icon"><span class="icon-paper-plane"></span></div>
              <input type="email" class="form-control" placeholder="Enter Email Address" name="correo" required>
            </div>
          </form>
				</div>
				<p class="pfooter">
	  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
	  </p>
			</div>
		</aside> <!-- END COLORLIB-ASIDE -->
		<div id="colorlib-main">
			{% block content %}




            {% endblock %}
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->

  <!-- loader -->
  
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'js/google-map.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
    


<script>

  
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://yaspv.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                              
  </body>
</html>