<div class="col-xl-4 sidebar ftco-animate bg-light pt-5">
  <div class="sidebar-box pt-md-4">
    <form method="get" class="search-form" action="{% url 'search' %}">
      <div class="form-group">
        <span class="icon icon-search"></span>
        <input type="text" class="form-control" placeholder="Type a keyword and hit enter" name="q" required>
      </div>
    </form>
  </div>
  <div class="sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Categories</h3>
    <ul class="categories">
      {% for categoria in categorias %}
      <li><a href="/category/{{categoria.nombre}}">{{categoria.nombre}} <span>{{categoria.post_count}}</span></a></li>
      {% endfor%}
    </ul>
  </div>

  <div class="sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Popular Articles</h3>
    {%  for post in postsRandom %}
    <div class="block-21 mb-4 d-flex">
      <a class="blog-img mr-4" style="background-image: url('{{post.image_referencia.url}}');"></a>
      <div class="text">
        <h3 class="heading"><a href="#">{{post.titulo}}</a></h3>
        <div class="meta">
          <div><a href="#"><span class="icon-calendar"></span> {{post.fecha_publicacion}}</a></div>
          <div><a href="#"><span class="icon-person"></span> {{post.autor.nombre}}</a></div>
          <div><a href="#"><span class="icon-chat"></span> 19</a></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="sidebar-box subs-wrap img py-4" style="background-image: url(images/bg_1.jpg);">
    <div class="overlay"></div>
    <h3 class="mb-4 sidebar-heading">Newsletter</h3>
    <p class="mb-4">
      Suscribete para poder estar atento a nuevos contenidos que subire.
    </p>
    <form method="POST" action="{% url 'suscribe' %}" class="subscribe-form">
      {% csrf_token %}
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email Address" name="correo" required/>
        <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit" />
      </div>
    </form>
  </div>

  <div class="sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Archives</h3>
    <ul class="categories">
      {% for post in postsByDate %}
      <li>
        <a href="#">{{post.month}} <span>({{post.count}})</span></a>
      </li>
      {% endfor %}

    </ul>
  </div>

  <div class="sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Frase</h3>
    <p>
      Siempre estoy haciendo lo que no puedo hacer para poder aprender como hacerlo 
      (Pablo Picasso)
    </p>
  </div>
</div>
<!-- END COL -->