
					<div class="row pt-md-4">
						{% for post in posts %}
							<div class="col-md-12">
							
								<div class="blog-entry ftco-animate d-md-flex">
									<a href="" class="img img-2" style="background-image: url('{{post.image_referencia.url }}');"></a>
									<div class="text text-2 pl-md-4">
										<h3 class="mb-2"><a href="{% url 'detail' slug=post.slug %} ">{{post.titulo}}</a></h3>
										<div class="meta-wrap"> 
											<p class="meta">
												<span><i class="icon-calendar mr-2"></i>{{post.fecha_publicacion}}</span>
												<span><a href="{% url 'category' name_cate=post.categoria.nombre %}"><i class="icon-folder-o mr-2"></i>{{post.categoria.nombre}}</a></span>
												<span><i class="icon-comment2 mr-2"></i>5 Comment</span>
											</p>
										</div>
										<p class="mb-4">{{post.descripcion}}</p>
										<p><a href="{% url 'detail' slug=post.slug %}" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
									</div>
								</div>
							</div>
						{% endfor %}						
					</div><!-- END-->
					{% include 'layout/paginator.html' %}
				