{% url 'home' as home_url %}
{% url 'blog' as blog_url %}
{% url 'projects' as projects_url %}
{% url 'about-me' as about_url %}
{% url 'contact-me' as contact_url %}

<nav id="colorlib-main-menu" role="navigation">
    <ul>
        <li {% if request.path == home_url %} class="colorlib-active" {% endif %}><a href="{% url 'home' %}">Home</a></li>
        <li {% if request.path == blog_url %} class="colorlib-active" {% endif %}><a href="{% url 'blog' %}">Blog</a></li>
        <li {% if request.path == projects_url %} class="colorlib-active" {% endif %}><a href="{% url 'projects' %}">Proyectos</a></li>
        <li {% if request.path == about_url %} class="colorlib-active" {% endif %}><a href="{% url 'about-me' %}">About me</a></li>
        <li {% if request.path == contact_url %} class="colorlib-active" {% endif %}><a href="{% url 'contact-me' %}">Contact me</a></li>
    </ul>
</nav>
	
