{% if posts.paginator.num_pages > 1 %}
			<div class="row">
				<div class="col text-center text-md-left">
					<div class="block-27">
							<ul>
							{% if posts.has_previous %}
								<li><a href="?page={{ posts.previous_page_number }}">&lt;</a></li>
							{% endif %}

							{% for i in posts.paginator.page_range %}
								{% if posts.number == i %}
									<li class="active"><a href="?page={{i}}" ><span>{{i}}</span></a></li>
								{% elif i > posts.number|add:'-5' and i < posts.number|add:'5' %}
									<li><a href="?page={{i}}">{{i}}</a></li>		
								{% endif %}
							{% endfor %}						
							
							{% if posts.has_next %}
								<li><a href="?page={{ posts.next_page_number }}">&gt;</a></li>
							{% endif%}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
